* {
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
  border: 1px solid;
}
/* Header */
header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: darkgreen;
}
.header-img {
  width: 4rem;
  height: 3rem;
}
.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* TextGenrator */
.text-generator {
  width: 80%;
  margin: auto;
}
.input-field {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.input {
  width: 13.55rem;
  height: 2rem;
  padding-left: 1rem;
}

.btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  background-color: darkgreen;
  padding: 11px;
}
.img-div {
  position: relative;
  width: 98%;
  border: 3px solid #666;
  text-align: center;
  height: fit-content;
  padding: 3rem 0;
}
.generated-img {
  width: 98%;
  height: 60vh;
  object-fit: fill;
  box-shadow: 1px 1px 4px #666;
}
/* MemeText */
.text {
  font-size: 2.5rem;
  font-weight: 200;
  font-family: fantasy;
  color: rgb(35, 31, 32);
  right: 8.67%;
  justify-content: center;
  margin: auto;
}
.top {
  position: absolute;
  top: 0.34rem;
  left: 15%;
  word-wrap: break-word;
  text-align: center;
}
.bottom {
  /* position: absolute;
  bottom: 1.85rem; */
  word-wrap: break-word;
  text-align: center;
}
